env/

metadata/excellent_accuracy_check
comparing/compare.py
labeling/copy_and_assign_label.py
labeling/optimized_copy_and_assign_label.py

outputs.txt

# CSV data files and directories (exclude n_tiff_to_all_jpeg_mapping)
csv/*.csv
csv/n_tiff_to_single_label_jpeg_mapping/
csv/old/
csv/sample_100/
csv/single_label_jpeg_hashes/

plots/*.png
plots/*.py
sample_100/
metadata/*

jpeg_converter.py 